@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-50: #ffffff;
  --color-neutral-100: #e0dee3;
  --color-neutral-200: #d6d3d9;
  --color-neutral-300: #b8b3bd;
  --color-neutral-400: #a39daa;
  --color-neutral-500: #827c8d;
  --color-neutral-600: #635f6d;
  --color-neutral-700: #4f4c57;
  --color-neutral-800: #3b3941;
  --color-neutral-900: #141316;
  --color-neutral-950: #0a090b;

  --color-primary-100: #eef7fc;
  --color-primary-200: #badcf3;
  --color-primary-300: #97caed;
  --color-primary-400: #74b9e7;
  --color-primary-500: #3498db;
  --color-primary-600: #2180c0;
  --color-primary-700: #185d8b;
  --color-primary-800: #0f3a57;
  --color-primary-900: #061923;

  --color-secondary-100: #f7f7fb;
  --color-secondary-200: #c5c1ec;
  --color-secondary-300: #a8a1e2;
  --color-secondary-400: #7c73d4;
  --color-secondary-500: #453bba;
  --color-secondary-600: #352b8c;
  --color-secondary-700: #28226d;
  --color-secondary-800: #1d184e;
  --color-secondary-900: #0b091f;

  --color-tomato-100: #feedec;
  --color-tomato-200: #fbb5b1;
  --color-tomato-300: #f87e77;
  --color-tomato-400: #f65951;
  --color-tomato-500: #f32116;
  --color-tomato-600: #ae1109;
  --color-tomato-700: #880e07;
  --color-tomato-800: #4e0804;
  --color-tomato-900: #270402;
  --color-tomato-950: #130201;

  --color-danger-100: #ffebec;
  --color-danger-200: #ffc2c5;
  --color-danger-300: #ff858b;
  --color-danger-400: #ff333d;
  --color-danger-500: #ff0a16;
  --color-danger-600: #e0000b;
  --color-danger-700: #a30008;
  --color-danger-800: #660005;
  --color-danger-900: #290002;

  --color-warning-100: #fefbec;
  --color-warning-200: #fbedb1;
  --color-warning-300: #f8e077;
  --color-warning-400: #f6d851;
  --color-warning-500: #f3ca16;
  --color-warning-600: #d5b00b;
  --color-warning-700: #9b8008;
  --color-warning-800: #746006;
  --color-warning-900: #4e4104;

  --color-success-100: #ebfff5;
  --color-success-200: #adffd6;
  --color-success-300: #70ffb8;
  --color-success-400: #33ff99;
  --color-success-500: #00e070;
  --color-success-600: #00b85c;
  --color-success-700: #008f47;
  --color-success-800: #005229;
  --color-success-900: #002914;
  --color-success-950: #00140a;
}

@layer components {
  /* .nav-link {
    color: var(--color-text-light);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: var(--transition);
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: var(--color-secondary-light);
    color: var(--color-primary-500);
  }

  /* Grid de torneos */
  /* .tournaments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .tournament-card {
    background: white;
    border: none;
    border-radius: var(--border-radius-large);
    padding: 3rem 2rem;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
    box-shadow: var(--shadow-light);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tournament-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-heavy);
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
  }

  .tournament-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .tournament-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
    transition: var(--transition);
  }

  .tournament-card:hover h3 {
    color: white;
  }

  .tournament-card p {
    color: var(--color-text);
    font-style: italic;
    transition: var(--transition);
  }

  .tournament-card:hover p {
    color: var(--color-text-light);
  } */

  .login-btn {
    background-color: var(--color-primary-500);
    color: white;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: var(--transition);
  }

  .login-btn:hover,
  .login-btn.active {
    background-color: var(--color-primary-500);
    transform: translateY(-2px);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-900;
  }

  p {
    @apply leading-6 text-pretty;
  }
}
