@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-50: #ffffff;
  --color-neutral-100: #e0dee3;
  --color-neutral-200: #d6d3d9;
  --color-neutral-300: #b8b3bd;
  --color-neutral-400: #a39daa;
  --color-neutral-500: #827c8d;
  --color-neutral-600: #635f6d;
  --color-neutral-700: #4f4c57;
  --color-neutral-800: #3b3941;
  --color-neutral-900: #141316;
  --color-neutral-950: #0a090b;

  --color-primary-100: #eef7fc;
  --color-primary-200: #badcf3;
  --color-primary-300: #97caed;
  --color-primary-400: #74b9e7;
  --color-primary-500: #3498db;
  --color-primary-600: #2180c0;
  --color-primary-700: #185d8b;
  --color-primary-800: #0f3a57;
  --color-primary-900: #061923;

  --color-secondary-100: #f7f7fb;
  --color-secondary-200: #c5c1ec;
  --color-secondary-300: #a8a1e2;
  --color-secondary-400: #7c73d4;
  --color-secondary-500: #453bba;
  --color-secondary-600: #352b8c;
  --color-secondary-700: #28226d;
  --color-secondary-800: #1d184e;
  --color-secondary-900: #0b091f;

  --color-tomato-100: #feedec;
  --color-tomato-200: #fbb5b1;
  --color-tomato-300: #f87e77;
  --color-tomato-400: #f65951;
  --color-tomato-500: #f32116;
  --color-tomato-600: #ae1109;
  --color-tomato-700: #880e07;
  --color-tomato-800: #4e0804;
  --color-tomato-900: #270402;
  --color-tomato-950: #130201;

  --color-danger-100: #ffebec;
  --color-danger-200: #ffc2c5;
  --color-danger-300: #ff858b;
  --color-danger-400: #ff333d;
  --color-danger-500: #ff0a16;
  --color-danger-600: #e0000b;
  --color-danger-700: #a30008;
  --color-danger-800: #660005;
  --color-danger-900: #290002;

  --color-warning-100: #f8debd;
  --color-warning-200: #f1bc7c;
  --color-warning-300: #ea9b3a;
  --color-warning-400: #c77715;
  --color-warning-500: #854f0e;
  --color-warning-600: #6b400b;
  --color-warning-700: #503008;
  --color-warning-800: #362006;
  --color-warning-900: #1b1003;

  --color-success-100: #ebfff5;
  --color-success-200: #adffd6;
  --color-success-300: #70ffb8;
  --color-success-400: #33ff99;
  --color-success-500: #00e070;
  --color-success-600: #00b85c;
  --color-success-700: #008f47;
  --color-success-800: #005229;
  --color-success-900: #002914;
  --color-success-950: #00140a;
}

:root {
  --background: oklch(0.9602 0.0034 247.8587);
  --foreground: oklch(0.1884 0.0128 248.5103);
  --card: oklch(0.9764 0.0013 286.3755);
  --card-foreground: oklch(0.1892 0.0062 300.9666);
  --popover: oklch(0.9829 0.0011 17.178);
  --popover-foreground: oklch(0.1884 0.0128 248.5103);
  --primary: oklch(0.6531 0.1347 242.6867);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.1892 0.0062 300.9666);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9252 0.0083 301.3484);
  --muted-foreground: oklch(0.1892 0.0062 300.9666);
  --accent: oklch(0.9061 0.0363 239.1765);
  --accent-foreground: oklch(0.29 0.0585 243.448);
  --destructive: oklch(0.5385 0.221 29.2339);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8889 0.0116 252.097);
  --input: oklch(0.8968 0.0279 229.1935);
  --ring: oklch(0.6818 0.1584 243.354);
  --chart-1: oklch(0.3304 0.0515 171.2336);
  --chart-2: oklch(0.4804 0.0789 171.3654);
  --chart-3: oklch(0.6194 0.1038 171.383);
  --chart-4: oklch(0.7393 0.1204 172.1045);
  --chart-5: oklch(0.7985 0.0974 174.4799);
  --sidebar: oklch(0.1892 0.0062 300.9666);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3898 0.0022 247.8792);
  --sidebar-accent-foreground: oklch(0.9923 0.0042 236.4949);
  --sidebar-border: oklch(0.1892 0.0062 300.9666);
  --sidebar-ring: oklch(0.6818 0.1584 243.354);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.125rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
    0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
  --tracking-normal: 0.05em;
  --spacing: 0.26rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    letter-spacing: var(--tracking-normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-900;
  }

  p {
    @apply leading-6 text-pretty;
  }
}
